.detailSect {
  padding: 0 16px;
}
.detailBox {
  display: flex;
  gap: 40px;
  align-items: center;
}
.detailBoxInfo {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.movieDetailsImg {
  width: 300px;
  margin-bottom: 20px;
}
.movieDetailsTitle {
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 10px;
}

.movieDetailsTagline {
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 5px;
}
.movieDetailsText {
  font-size: 17px;
  line-height: 1.2;

  margin-bottom: 5px;
}
.navMore {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #0e0d0d;
  border-bottom: 1px solid #0e0d0d;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
